<html>

<head>
  <title>BasaBari.com | Create Post</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/contents/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/contents/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/contents/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/contents/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
			   folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/contents/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>




<body class="hold-transition skin-blue layout-top-nav">

  <div class="wrapper">


      <%- include partial/UserHeaderWithoutSidebar.ejs %>



    <div style="background-color: white; font-family:times-new-roman">

      <div style="margin-left:20%;margin-right:20%"><br/>
        <!-- enctype="multipart/form-data" bojlam eta ki support kore na -->
        <form method="POST" enctype="multipart/form-data">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Create Post</h3>
              <br/>
              <h5>Fields marked with <font color="red" size="4"> (*)</font> are mandatory.</h5>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body" style="margin-left:.5%;margin-right:.5%">

              <table width='100%'>
                <tr>
                  <td width='50%' style='padding: 5px;' valign="top">


                    <div class="form-group">
                      <label for="houseName">House Name</label>
                      <input type="text" class="form-control" id="houseName" name="houseName" placeholder="Enter the address">
                    </div>
                    <div class="form-group">
                      <label for="location">Location <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="location" name="location" value="<%=PostData.location%>" placeholder="Enter the address">
                    </div>
                    <div class="form-group">
                      <label for="mobileNo">Mobile No <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="mobileNo" name="mobileNo" value="<%=PostData.mobileNo%>" placeholder="Enter the address">
                    </div>
                    <div class="form-group">
                      <label for="holdingNumber">Holding Number <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="holdingNumber" name="holdingNumber" placeholder="Enter the holding number">
                    </div>
                    <div class="form-group">
                      <label for="rent">Rent <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="rent" name="rent" placeholder="Enter rent">
                    </div>
                    <div class="form-group">
                      <label for="houseType">House Type<font color="red" size="5"> *</font></label>
                      <select id="houseType" name="houseType" onclick="validateHouseType()">
                				<option value="">Please select</option>
                				<option value="Tin shade">Tin shade</option>
                				<option value="Building">Building</option>
                				<option value="Duplex ">Duplex </option>
                			</select>&nbsp;&nbsp;<span id="houseTypeErrorMassage"></span>
                    </div>
                    <div class="form-group">
                      <label for="bedroom">Bedroom <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="bedroom" name="bedroom" placeholder="Number of bed room">
                    </div>
                    <div class="form-group">
                      <label for="bathroom">Bathroom <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="bathroom" name="bathroom" placeholder="Number of bathroom">
                    </div>
                    <div class="form-group">
                      <label for="area">Area </label>
                      <input type="text" class="form-control" id="area" name="area" placeholder="Enter the square feet of the house">
                    </div>
                  </td>

                  <td width='50%' style='padding: 5px;' valign="top">
                    <div class="form-group">
                      <label for="balcony">Balcony <font color="red" size="5"> *</font></label>
                      <input type="text" class="form-control" id="balcony" name="balcony" placeholder="Number of balcony">
                    </div>
                    <div class="form-group">
                      <label for="drawingroom">Drawing Room<font color="red" size="5"> *</font></label>
                      <input type="radio" name="drawingroom" value="1">Yes
                      <input type="radio" name="drawingroom" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="diningroom">Dining Room<font color="red" size="5"> *</font></label>
                      <input type="radio" name="diningroom" value="1">Yes
                      <input type="radio" name="diningroom" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="lift">Lift<font color="red" size="5"> *</font></label>
                      <input type="radio" name="lift" value="1">Yes
                      <input type="radio" name="lift" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="gas">Gas<font color="red" size="5"> *</font></label>
                      <input type="radio" name="gas" value="1">Yes
                      <input type="radio" name="gas" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="generator">Generator<font color="red" size="5"> *</font></label>
                      <input type="radio" name="generator" value="1">Yes
                      <input type="radio" name="generator" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="internet">Internet<font color="red" size="5"> *</font></label>
                      <input type="radio" name="internet" value="1">Yes
                      <input type="radio" name="internet" value="no">No
                    </div>
                    <div class="form-group">
                      <label for="intercom">Intercom<font color="red" size="5"> *</font></label>
                      <input type="radio" name="intercom" value="1">Yes
                      <input type="radio" name="intercom" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="parking">Parking<font color="red" size="5"> *</font></label>
                      <input type="radio" name="parking" value="1">Yes
                      <input type="radio" name="parking" value="0">No
                    </div>
                    <div class="form-group">
                      <label for="specialNote">Special Note</label>
                      <input type="text" class="form-control" name="specialNote" placeholder="Enter your speical requirements which need to be follow">
                    </div>
                    <div class="form-group">
                      <label for="image">Upload a house image<font color="red" size="5"> *</font></label>
                      <input type="file" name="houseImage" required>
                    </div>



                  </td>
                </tr>

              </table>
            </div>
            <!-- /.box-body -->
            <h5 style="color: Red">
              <ul>
                  <% if(typeof passwordError=='undefined'){%>
                <% for(var i = 0; i < errs.length; i++){ %>
                  <li><%= errs[i].message %></li>
                <% } }%>
              </ul>
            </h5>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </div>
        </form>

      </div>









      <hr style="margin-bottom: 0em;color: black;background-color: black;height: 5px">
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <b>Version</b> 2.0.0
          </div>
          <strong>Copyright &copy; 2017-2018 BasaBari.com</strong> All rights reserved.
        </div>
        <!-- /.container -->
      </footer>
    </div>
  </div>
  <!--</body>-->


  <!-- ./wrapper -->

  <!-- jQuery 3 -->
  <script src="/contents/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/contents/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- SlimScroll -->
  <script src="/contents/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="/contents/bower_components/fastclick/lib/fastclick.js"></script>
  <!-- AdminLTE App -->
  <script src="/contents/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/contents/dist/js/demo.js"></script>
</body>

</html>
